body {
    background-color:rgb(235, 235, 235);
    margin: 0 auto;
  }
  a{
    text-decoration: none;
  }
  .head{
    width: 100%;
    height: 80px;
    background-color: white;
    text-align: center;
    min-width: 1000px;
  }
  .label{
    width: 1000px;
    margin: 0 auto;
  }
  .alignment{
    display: inline-block;
    vertical-align:middle;    
  }
  .logo{
    width: 95px;
    height: 35px;
    margin-left: 5px;
    margin-right:55px;
  }
  .homepage{
    box-sizing: border-box;
    padding: 20px 0;
    font-size: 20px;
    height: 80px;
    font-family: PingFang SC;
    color: rgb(234, 90, 112);
    border-top: 5px solid rgb(234, 90, 112);
    margin-right: 70px;
  }
  .classify{
    font-size: 20px;
    font-family: PingFang SC;
    color: #666666;
    margin-right: 116px;
  }
  .search{
    height: 30px;
    margin-right: 90px;
    font-size: 0;
  }
  .input{ 
    width: 247px;
    border: 2px solid rgb(234, 90, 112); 
    height: 100%;
  }
  .search_button{
    width:80px;
    background-color: rgb(234, 90, 112); 
    height: 38px;
  }
  
  .login{
    background-color: rgb(29, 192, 145);
    height: 30px;
    text-align: center;
  }
  .login_button{
    color: white;
    font-family: PingFang SC;
    font-size: 14px;
    text-decoration: none;
    display: inline-block;
    width: 90px;
    padding: 5px 0;
  }
  .middle{
    margin:0 auto;
    margin-top: 2px;
    width: 1000px;
  }
  .course{
    height: 270px;
    font-size: 0;
    width: 1000px;
  }
  #course_1{
    width: 800px;
    height: 100%;
    background-color: white;
    padding: 41px 44px 40px 78px;
    box-sizing: border-box;
    display: inline-block;
  }
  #course_2{
    display: inline-block; 
    vertical-align: top;
    width: 190px;
    height: 90%;
    margin-left: 10px;
    background-color: white;
  }
  .lesson{
      width: 678px;
      font-size: 0;
  }
  .list{
    width: 96px;
    height: 96px; 
    border-radius:50%;
    border: 2px solid #1DC091;
    font-family: PingFang SC;
    font-size: 36px;
    line-height: 96px;
    text-align: center;
    color: #1DC091;  
    box-sizing: border-box;
    margin-right: 30px;
    display: inline-block;
    vertical-align: top;
    font-weight: lighter;
  }
  .introduce{
    display: inline-block; 
    vertical-align: top;
    border-left: 1px solid #eaeaea;
    padding-left: 30px;
    box-sizing: border-box;
  }
  li{
    list-style: none;
    font-size: 0;
  }
  .point{
    margin-right: 10px;
    border: 4px solid rgb(234, 90, 112);
    border-radius: 4px;
    display: inline-block;
    vertical-align: middle;
  }
  .class{
    font-size: 18px;
    line-height: 18px;
    padding: 4px 0;
  }
  .teacher{
    font-size: 14px;
    line-height: 14px;
    padding: 3px 0;
  }
  .none{
    font-size: 14px;
    margin: 15px 0 0 18px;
  }
  .link{
    display: inline-block; 
    vertical-align: top;
    width: 90px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    background-color: rgb(234, 90, 112);
    box-sizing: border-box;
    margin-left: 60px;
  }
  .link_button{
    font-size: 14px;
    color: white;
    font-family: PingFang SC;
  }
  .tabs{
    margin-top: 26px;
    padding-left: 175px;
    color: white;
    font-weight: lighter;
  }
  .tab{
    font-size: 14px;
    padding: 5px 12px;
    text-align: center;
    margin-right: 20px;
    background-color: #F5A623;
    display: inline-block;
    vertical-align: top;
  }
  .tab_1{
    font-size: 14px;
    padding: 5px 12px;
    text-align: center;
    margin-right: 40px;
    background-color: #F5A623;
    margin-top: 5px;
    display: inline-block;
    vertical-align: top;
  }
  .text{
    text-align: center;
    height: 155px;
    padding: 35px;
    box-sizing: border-box;
  }
  .by{
    font-size: 18px;
    font-weight: lighter;
  }
  .number{
    font-size: 22px;
    margin: 3px 0;
    color: #F44336;
  }
  .like{
    font-size: 18px;
    font-weight: lighter;
  }
  .add{
    height: 90px;
    background-color: #F5A623;
    font-size: 36px;
    color: white;
    text-align: center;
    line-height: 90px;
  }
  .comments{
      width: 800px;
      margin-top: 10px;
  }
  .hotcomments{
    background-color: white;
    height:470px;
    padding:39px 60px 0 75px;
  }
  .tag{
    font-family: PingFang SC;
    font-size: 18px;
    color: #5c5c5c;
    border-left: 4px solid rgb(234, 90, 112);
  }
  .influence_1{
    border-bottom: 1px solid #eaeaea;
    padding-left: 81px;
    margin-top: 40px;
  }
  .influence_2{
      border-bottom: 1px solid #eaeaea;
      padding-left: 81px;
      margin-top: 20px;
  }
  .name{
    font-family: PingFang SC;
    font-size: 18px;
    color: #1DC091;
    vertical-align:middle;
  }
  .tip{
    font-family: PingFang SC;
    font-size: 11px;
    color: white;
    background-color: rgb(234, 90, 112);
    
  }
  .sentence{
    font-family: PingFang SC;
    font-size: 14px;
    margin-top: 15px;
  }
  .note{
    margin: 12px 0 15px 410px;
  }
  .agree{
    font-family: PingFang SC;
    font-size: 12px;
    color: #F5A623;
  }
  .date{
    font-family: PingFang SC;
    font-size: 12px;
    margin-left: 10px;
  }
  .newcomments{
    background-color: white;
    height:940px;
    margin-top: 10px;
    padding:39px 60px 0 75px;
  }
  .pages{
    font-size: 14px;
    margin-top: 40px;
    float: right;
    text-align: center;
    color: white;
    padding:5px;
  }
  .page_1{
    background: #1dc091;
    line-height: 30px;
    display: inline-block;
    width: 30px;
    height: 30px;
    margin-left: 15px;
  }
  .page_2{
    background: #cdcdcd;
    line-height: 30px;
    display: inline-block;
    width: 30px;
    height: 30px;
    margin-left: 15px;
  }
  .next{
    background: #1dc091;
    line-height: 30px;
    display: inline-block;
    height: 30px;
    margin-left: 15px;
    width: 50px;
  }
  .writecomments{
    background-color: white;
    height:666px;
    margin-top: 10px;
    padding:39px 60px 0 75px;
  }
  .submit{
      margin-left: 70px;
      margin-top: 20px;
      text-align: center;
  }
  .writedown{
    width: 608px;
    height: 200px;
    border: 2px solid #eeeeee;
  }
  .choose{
    border: 2px solid #eeeeee;
    margin: 30px 0;
    width: 608px;
    height: 36px;
  }
  .choice{
    font-family: PingFang SC;
    font-size: 14px;
    color: #1DC091;
    font-weight: lighter;
    width: 170px;
  }
  .pags{
    width: 180px;
    margin-top: 5px;
    margin-right: 10px;
    color: white;
    font-weight: lighter;
  }
  .pag{
    background-color: #cdcdcd;
    font-size: 14px;
    padding: 3px 14px;
    text-align: center;
  }
  .publish{
    width: 100px;
    height: 30px;
    color: #FFFFFF;
    font-size: 14px;
    margin-top: 58px;
    background: #1dc091;
  }
  .main{
    min-height:100%;
    position:relative;
    padding-bottom: 200px;
  }
  .foot{
    height: 120px;
    width: 100%;
    background-color: #5c5c5c;
    text-align: center;
    position:absolute;
    bottom:0;
  }
  .rabit{
    padding-top: 31px;
  }
  .words{
    font-size: 14px;
    color: #9b9b9b;
  }
  .studio{
    margin-left: 10px;
  }
  .red{
    width: 3px;
    height: 10px;
    margin-left: 18px;
  }
  .team{
    margin-left: 12px;
  }